*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/bg1.jpg');
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    max-height: auto;  
   
}
body{
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
}
.clearfix:after{
    content:".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
.row{
    max-width: 1180px;
    margin: 0 auto;
}
.main-content-header{
    width: 1180px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
h1{
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.btn{
    display: inline;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2 
}
.btn-full{
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    margin-right: 15px;
    border: 1px solid #000000;
}
.btn-full:hover{
    background-color: #fff;
}
.btn-nv{
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    margin-right: 15px;
    border: 1px solid #000000;
}
.btn-nv:hover{
    background-color: #fff;
}
.logo{
    height: 120px;
    weight: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    margin-top: 60px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    color: #fff;
    padding: 5px 0px;
    text-decoration:none;
    font-size: 90%;
    font-weight: 100;
}
.main-nav li a:hover{
    border-bottom: 2px solid #000000;
}

html{
	font-size: 10px;
	font-family: "Roboto", sans-serif;
}
header{
    height: 20vh;
}

a{
	text-decoration: none;
	color: #fff;
}

section{
	padding: 10rem 0;
	background-color: #fff;
}
.heading{
	text-transform: uppercase;
	font-size: 3.5rem;
	letter-spacing: 3px;
	margin-right: -3px;
	margin-bottom: 5rem;
	text-align: center;
	color: #333;
	position: relative;
}
.heading::after{
	content: "";
	width: 10rem;
	height: .8rem;
	background-color: #45e19f;
	position: absolute;
    bottom: -2rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2rem;
}
.card-wrapper{
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}
.card{
	width: 35rem;
	background-color: #A9A9A9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	box-shadow: .5rem .5rem reba(0,0,0,0.2);
}
.card .card-img{
	width: 100%;
	height: 26rem;
	object-fit: cover;
}
.profile-img{
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -10rem;
	z-index: 999;
	border: 1px solid #ebeef8;
}
.card h1{
	font-size: 2.5rem;
	color: #333;
	margin: 1.5rem 0;
}
.job-title{
	color: #000;
	font-size: 1.5rem;
	font-weight: 300;
}
.about{
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-style: italic;
	text-align: center;
	color: #333;
}
.card .btn{
	padding: 1rem 2.5rem;
	background-color: #445ae3;
	border-radius: 2rem;
	margin: 1rem 0;
	text-transform: uppercase;
	color: #eee;
	font-size: 1.4rem;
}
.card .btn:hover{
	transform: translateY(-2px);
	box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
}
.card .btn:active{
	transform: translateY(0);
	box-shadow: none;
}
.social-media{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 2rem 0;
	margin-top: 1.5rem;
	border-top: 1px solid rgba(0,0,0,.1);
}
.social-media i{
	font-size: 3rem;
    
}
.fa-facebook-square {
    color: #3b5998
}
.fa-linkedin{
    color: #007bb6
}
.mobile-icon{
	display:none;
}
.fa-google-plus-square {
    color: #dd4b39
}
.fa-facebook-square:hover {
    transform: translateY(-8px);
	box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
}
.fa-linkedin:hover{
     transform: translateY(-8px);
	box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
}
.fa-google-plus-square:hover {
     transform: translateY(-8px);
	box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
}
@media screen and (min-width: 700px){
        .card-wrapper{
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .card{
            margin: 2rem;
            transition: transform .5s;
        }
        .card:hover{
            transform: scale(1.05);
        }
        .row{
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
}
@media only screen and (max-width: 1180px){
	.main-content-header{
		width:100%;
		padding: 0 2%;
	}
}
@media only screen and (max-width: 768px){
			.main-nav{
				display:none;
			}
			.mobile-icon{
				display:inline-block;
				float: right;
				color: #fff;
				margin-right:20px;
				margin-top:30px;
			}
			.main-nav{
				float:left;
			}
			.main-nav li{
                
				display:block;
				margin-top: 5px;
			}
            .main-nav li a{
                color: #000000;
                padding: 5px 0px;
                text-decoration:none;
                font-size: 75%;
                font-weight: 100;
            }
}















